.header { 
    background-color: #774360 ;
}

.header a {
    color: #E7AB79;
    text-decoration: none;
}

.header a:focus, .header a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header button{
    border: none;
    background-color: transparent;
    color: #E7AB79;
}

.header button:hover, .header button:focus{
    color: white;
    font-weight: bold;
}